<!--<button id="demo-menu-lower-right"-->
        <!--class="mdl-button mdl-js-button mdl-button&#45;&#45;icon" (click)="fireMyEvent()">-->
<!--</button>-->
<!--<p>{{title}}</p>-->


<!--<ul class="mdl-menu mdl-menu&#45;&#45;bottom-right mdl-js-menu mdl-js-ripple-effect"-->
    <!--for="demo-menu-lower-right">-->

    <!--<li class="mdl-menu__item mdl-menu__item&#45;&#45;full-bleed-divider" *ngFor="#item of items">{{item}}-->
    <!--</li>-->
<!--</ul>-->

<!-- Left aligned menu below button -->
<button id="demo-menu-lower-left"
        class="mdl-button mdl-js-button mdl-button--raised">
    {{title}}
</button>
<nav>
    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu"
        for="demo-menu-lower-left">
        <li class="mdl-menu__item" *ngFor="#item of items">{{item}}</li>
    </ul>
</nav>