<button id="demo-menu-lower-right"
        class="mdl-button mdl-js-button mdl-button--icon">
    <i class="material-icons">memory</i>
</button>


<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
    for="demo-menu-lower-right">
    <li class="mdl-menu__item mdl-menu__item--full-bleed-divider" [routerLink]="['Home']">Dopamine</li>
    <li class="mdl-menu__item mdl-menu__item--full-bleed-divider" [routerLink]="['Gallery']">Oxytocin</li>
    <li class="mdl-menu__item mdl-menu__item--full-bleed-divider">Serotonin</li>
    <li class="mdl-menu__item mdl-menu__item--full-bleed-divider">Endorphins</li>
</ul>