<div class="mdl-grid">

    <!--advertiser button-->
    <div class="mdl-cell mdl-cell--4-col">
        <menu [title]="'Advertisers Info'" [items]="advertisers"></menu>
    </div>

    <!--search form-->
    <div class="mdl-cell mdl-cell--4-col">
        <h5 class="mdl-card--horizontal-center">Search For Products</h5>
        <form class="mdl-card--horizontal-center" action="#" (ngSubmit)="getProducts(config)" #searchForm="ngForm">

            <!--keywords box-->
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="keywords" [(ngModel)]="config.keywords">
                <label class="mdl-textfield__label" for="keywords">
                    Keywords...
                </label>
            </div>


            <!--advertisers box-->
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <select class="mdl-textfield__input" id="advertisers"
                    [(ngModel)]="config.advertisers" >
                <option *ngFor="#advertiser of advertisers" [value]="advertiser">{{advertiser}}</option>
            </select>
                <label class="mdl-textfield__label" for="advertisers">
                    Advertisers...
                </label>
            </div>

            <!--designers box-->
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="designers" [(ngModel)]="config.designers">
                <label class="mdl-textfield__label" for="designers">
                    Designers...
                </label>
            </div>

            <!--categories box-->
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="categories" [(ngModel)]="config.categories">
                <label class="mdl-textfield__label" for="categories">
                    Categories...
                </label>
            </div>

            <!--form submit button-->
            <div class="search-button--float-right">
                <input type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised material-icons"  [ngClass]="{hide: clicked}" value="search" (click)="getProducts()">
            </div>
        </form>
    </div>

    <!--Search Combo Card-->
    <div class="mdl-cell mdl-cell--4-col">
        <card [title]="'Search Combo'"
              description="{{config.keywords | uppercasePlus}}
                           {{config.advertisers | uppercasePlus}}
                           {{config.designers | uppercasePlus}}
                           {{config.categories | uppercase}}
                           ">
        </card>
    </div>

    <div class="mdl-grid">

        <!--loading icon when searching-->
        <div [ngClass]="{hide: !clicked}" class="mdl-progress mdl-js-progress mdl-progress__indeterminate center"></div>

        <!--in case of no search results-->
        <div class="error" *ngIf="error">
            {{error}}
        </div>

        <!--rendering product cards-->
        <div class="mdl-cell mdl-cell--2-col" *ngIf="product" *ngFor="#product of products">
            <div class="mdl-card mdl-shadow--2dp mdl-card--hover fadeIn">
                <div class="mdl-card__media">
                    <img src="{{product.product_image}}" width="210" height="140" border="0" alt="{{product.product_name}}" />
                </div>
                <div class="mdl-card__supporting-text">
                    <span class="mdl-card__name">{{product.product_name}}</span>
                    <span class="mdl-card__designer">by: {{product.designer}}</span>
                    <span class="mdl-card__advertiser">@{{product.advertiser}}</span>
                <span class="mdl-card__price">Price:
                    <span class="mdl-card__price-float--right">{{product.local_formatted_price_amount}}</span>
                </span>
                <span class="mdl-card__commission">est. comm.:
                    <span class="mdl-card__price-float--right">{{product.local_formatted_commission_amount}}</span>
                </span>
                </div>
            </div>
        </div>

    </div>


</div>