<div class="mdl-grid">

    <!--advertiser button-->
    <div class="mdl-cell mdl-cell--4-col">
        <menu [title]="'Stock Info'" [items]="advertisers"></menu>
    </div>

    <!--search form-->
    <div class="mdl-cell mdl-cell--4-col">
        <h5 class="mdl-card--horizontal-center">Stock Search</h5>
        <h6 class="mdl-card--horizontal-center">symbols</h6>

        <form class="mdl-card--horizontal-center" action="#" (ngSubmit)="getStockQuotes(symbols)" #searchForm="ngForm">

            <!--symbols box-->
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="symbols" [(ngModel)]="symbols">
                <label class="mdl-textfield__label" for="symbols">
                    symbols..(ex. AAPL,IBM,GOOGL)
                </label>
            </div>

            <!--form submit button-->
            <div class="search-button--float-right">
                <input type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised material-icons"  [ngClass]="{hide: clicked}" value="search" (click)="getStockQuotes(symbols)">
            </div>
        </form>
    </div>

    <!--Search Combo Card-->
    <div class="mdl-cell mdl-cell--4-col">
        <card [title]="'Stocks being searched for'"
              description="{{symbols}}">
        </card>
    </div>

    <div class="mdl-grid">

        <!--loading icon when searching-->
        <div [ngClass]="{hide: !clicked}" class="mdl-progress mdl-js-progress mdl-progress__indeterminate center">
            <div class="progressbar bar bar1" style="width: 0%;"></div>
        </div>

        <!--in case of no search results-->
        <div class="error" *ngIf="error">
            {{error}}
        </div>

        <!--rendering stock cards-->
        <div class="mdl-cell mdl-cell--4-col" *ngIf="stock" *ngFor="#stock of stocks">
            <div class="mdl-card mdl-shadow--2dp mdl-card--hover fadeIn">
                <div class="mdl-card__media center">
                    {{stock.name}}
                </div>
                <div class="mdl-card__supporting-text">
                    <span class="mdl-card__name">Name: {{stock.symbol}}</span>
                    <span class="mdl-card__name">Change: {{stock.percentChange}}%</span>
                    <span class="mdl-card__designer">Exchange: {{stock.exchange}}</span>
                    <span class="mdl-card__advertiser">last Price: {{stock.lastPrice}}</span>
                <span class="mdl-card__price">High:
                    <span class="mdl-card__price-float--right">{{stock.high}}</span>
                </span>
                <span class="mdl-card__commission">Low:
                    <span class="mdl-card__price-float--right">{{stock.low}}</span>
                </span>
                </div>
            </div>
        </div>

    </div>


</div>